%Theme--blocks{

	.Block{
		//background:white;
		/*&:before{

			content:attr(data-pos) " \02193";
			display:inline-block;
			background:$base-ui-color;
			color:$base-background;
			padding:5px;
			
			margin-bottom:5px;


		}*/
	}
	.Block--anchor{
		display:block;
		height:0px;
	}
	.Blocks--debug{
	.Block--debug{

		margin-top:5px;
		border-top:1px solid $base-ui-color;
		border-right:none;
		border-left:none;

		&:before{

			content:attr(data-type) " \02193";
			display:inline-block;
			background:$base-ui-color;
			color:$base-background;
			padding:5px;
			
			margin-bottom:5px;


		}

		.Image{

			&:before{

				content:attr(data-width) "px";
				display:inline-block;
				background:$base-background;
				padding:5px;
				font-family:monospace;
				font-size:10px;
				margin-bottom:20px;
				position:absolute;
				top:10px;
				right:10px;
				z-index:1;

			}

		}
	}

	}



	.Block--embed{

		.Block-content{

			margin-left:auto;
			margin-right:auto;
			iframe{
				display:block;
				margin:0 auto;
				width:100%!important;
				height:75vh!important;
			}

		}

		&.Block--half{

			width:100%;
			display:block;

			.Block-content{
				
				iframe{

					height:50vh!important;
					max-height:350px;
				}

			}

		}
	}

	.Block--carousel{
		
	}



	.Block--text{
		
		.Block-content{
			position:relative;
			
		}
		
		.Block-heading{
			
		}

		&.Block--default,
		&.Block--left{
			.Block-heading{
				text-align:left;
			}
		}

		&.Block--half{
			

		}

	}


	.Block--map{

		

		.Block-content{
			position:relative;
		
			.Map{
			@extend %u-box--ratio;
			@include pad-ratio(6,4);

			& > *{

				@extend %u-box--fluid;

				& > *{

					@extend %u-box--fluid;

					& > *{

						@extend %u-box--fluid;

					}
				
				}



			}
			}

		}

	}

	.Block--half{
		@include respond-to('desktop'){
			display:inline-block;
			width:50%;
			vertical-align:top;

		}
	}

	



	.Block-content{
		@extend %u-container;
	}
	
	.Block--flush{
		.Block-content{
			padding:0;
			width:auto;
			max-width:none;
			margin:0;
		}
	}
	.Block--half{
		.Block-content{
			@extend %u-container;
			@include respond-to('desktop'){
				max-width: $base-max-width / 2;
			}
			
		}

		&.Block--posRight{
			.Block-content{
				margin-left:0;
			}
		}

		&.Block--posLeft{
			.Block-content{
				margin-right:0;
			}
		}
		
	}


}